{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Admin Dashboard</h1>
    <a href="{% url 'create_post' %}" class="btn btn-primary mb-3">Neuen Beitrag erstellen</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Erstellt am</th>
                <th scope="col">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.created_at }}</td>
                <td>
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary btn-sm">Bearbeiten</a>
                    <form method="post" action="{% url 'delete_post' post.pk %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}