{% extends 'base.html' %}
{% load static %}
{% block content %}


    <main>
      <h3>Willkommen auf meiner Website!</h3>
      <br>
      <p>Diese Seite ist das Ergebnis eines spannenden Informatikprojekts, das ich im Rahmen meiner Schulausbildung erstellt habe. Ich habe mir zum Ziel gesetzt, meine Fähigkeiten im Bereich der Informatik und des Webdesigns zu verbessern und gleichzeitig mein Wissen über Technologie zu erweitern.</p>
      <p>Auf dieser Website finden Sie verschiedene Inhalte, die ich im Laufe meines Projekts erstellt habe. Von der Gestaltung der Benutzeroberfläche bis hin zur Implementierung von Funktionen und Inhalten - ich habe mein Bestes gegeben, um eine informative und ansprechende Website zu entwickeln.</p>
      <p>Ich lade Sie ein, sich umzusehen und mehr über die Welt der Informatik zu erfahren, wie ich sie durch dieses Projekt erkundet habe. Ob Sie ein Anfänger sind, der die Grundlagen verstehen möchte, oder ein erfahrener Entwickler, der nach Inspiration sucht - ich hoffe, dass diese Website Ihnen nützlich sein wird.</p>
      <h4>Vielen Dank für Ihren Besuch und viel Spaß beim Erkunden!</h4>
      <br>
      <p>Falls sie am source code dieser Website interessiert sind, schauen sie doch auf meinem Github Repository vorbei!</p>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Github</h5>
          <p class="card-text">schule-website</p>
          <a href="https://github.com/eriside/schule-website" target=”_blank” class="btn btn-primary">Repository</a>
        </div>
      </div>
    </main>

    {% endblock %}