{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
        <h3>Liksammlung Datenbanksysteme</h3>
        <br>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Joomla!</h5>
            <p class="card-text">
                Joomla ist ein Open-Source Content-Management-System (CMS), das zur Erstellung und Verwaltung von Websites verwendet wird. Es bietet eine benutzerfreundliche Oberfläche, eine Vielzahl von Vorlagen und Erweiterungen sowie eine aktive Entwickler- und Benutzergemeinschaft. Mit Joomla können Benutzer Inhalte erstellen, bearbeiten und veröffentlichen, Benutzerzugriffsrechte verwalten und das Erscheinungsbild ihrer Websites anpassen. Es wird für verschiedene Arten von Websites wie Blogs, Foren, E-Commerce-Websites und Unternehmenspräsentationen eingesetzt.</p>
            <a href="https://www.joomla.de/" class="btn btn-primary">Joomla!</a>
          </div>
        </div>
        <br>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Wordpress</h5>
            <p class="card-text">
                WordPress ist ein Open-Source Content-Management-System (CMS), das zur Erstellung und Verwaltung von Websites verwendet wird. Es bietet eine benutzerfreundliche Oberfläche, Tausende von Themes und Plugins sowie eine große Entwickler- und Benutzergemeinschaft. Mit WordPress können Benutzer Inhalte erstellen, bearbeiten und veröffentlichen, Benutzerzugriffsrechte verwalten und das Erscheinungsbild ihrer Websites anpassen. Es ist vielseitig einsetzbar und wird für verschiedene Arten von Websites wie Blogs, Unternehmenswebsites, Online-Shops und vieles mehr genutzt. Aufgrund seiner Flexibilität und Benutzerfreundlichkeit ist WordPress eines der beliebtesten CMS weltweit.
                </p>
            <a href="https://wordpress.com/de/" class="btn btn-primary">Wordpress</a>
          </div>
        </div>
        <br>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Xampp</h5>
            <p class="card-text">XAMPP ist eine kostenlose und Open-Source-Software, die eine Entwicklungsumgebung für Webanwendungen bereitstellt. Sie integriert Apache-Server, MySQL-Datenbank, PHP und Perl und ermöglicht somit eine lokale Entwicklungsumgebung auf einem Computer. XAMPP ist plattformübergreifend verfügbar und läuft auf Windows, Linux und macOS. Es ist einfach zu installieren und bietet eine vollständige Umgebung, um Websites und Webanwendungen lokal zu entwickeln und zu testen, bevor sie online gestellt werden. Durch die Verwendung von XAMPP können Entwickler ihre Projekte unabhängig von einer Internetverbindung und ohne den Einsatz eines Webhosts lokal bearbeiten und testen.</p>
            <a href="https://www.apachefriends.org/index.html" class="btn btn-primary">Xampp</a>
          </div>
        </div>
        <br>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">MySQL</h5>
            <p class="card-text">MySQL ist ein relationales Datenbankverwaltungssystem (RDBMS), das für die Verwaltung von strukturierten Daten in einer Datenbank verwendet wird. Es ist eine Open-Source-Software und eine der am häufigsten verwendeten Datenbanken weltweit. MySQL ermöglicht die Speicherung, Abfrage und Manipulation von Daten mithilfe von SQL (Structured Query Language). Es ist plattformübergreifend verfügbar und unterstützt eine Vielzahl von Betriebssystemen. MySQL wird in vielen Anwendungen und Websites eingesetzt, von kleinen Blogs bis hin zu großen Unternehmensanwendungen, aufgrund seiner Leistungsfähigkeit, Skalierbarkeit und Zuverlässigkeit.</p>
            <a href="https://www.mysql.com/" class="btn btn-primary">MySQL</a>
          </div>
        </div>
    </main>


    {% endblock %}